.login {
    text-align: center;
    width: 100%;
    height: 100vh;
    background: #010101;
    background: linear-gradient(0deg, #010101, #3F0559);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo {
        width: 200px;
        height: 100px;
    }

    h1, p {
        color: white;
        font-weight: bolder;
    }

    button {
        width: 10rem;
        border: none;
        padding: .5rem;
        font-size: 1.1rem;
        background-color: darkorchid;
        color: white;
        font-weight: bold;
        border-radius: .3rem;
        cursor: pointer;
    }

    button:hover {
        transition: all 0.2s ease-in-out;
        scale:1.05
    }
}